<div class="container-fluid main-color">
  <br />
  <br />
  <div class="row">
    <div class="col text-center">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-success"
          routerLink="/home/jogo"
          routerLinkActive="active"
        >
          Jogar
        </button>
        <button
          type="button"
          class="btn btn-outline-success"
          routerLink="/home/ajuda"
          routerLinkActive="active"
        >
          Ajuda
        </button>
      </div>
    </div>
  </div>  
  <br />
  <br />
  <div [@routeAnimations]="outlet && outlet.activatedRouteData && outlet.activatedRouteData['animation']">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
