
    <div class="card">
      <div class="row">
        <div class="col-md-2">
          <img
            src="{{hero.thumbnail.path}}/standard_xlarge.{{hero.thumbnail.extension}}"
            class="img-fluid character-image"
          />
        </div>
        <div class="col-md-10 text-center">
          <div class="card-block px-2">
            <h4 class="card-title">{{hero.name}}</h4>
            <br />
            <div *ngIf="!hero.description; else description" class="description">
              <h3>SEM DESCRIÇÃO</h3>
            </div>
            <ng-template #description class="">
            <p class="card-text description">
              {{hero.description}}
            </p>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
